@CHARSET "ISO-8859-1";

.variantDivided_States .country0 { color: #CE7800 ! important; } /* Neutral */
.variantDivided_States .country1 { color: #00c81c ! important; } /* Maine */
.variantDivided_States .country2 { color: #d73911 ! important; } /* New-Hampshire */
.variantDivided_States .country3 { color: #00650b ! important; } /* Vermont  */
.variantDivided_States .country4 { color: #805b7c ! important; } /* Massachusetts */
.variantDivided_States .country5 { color: #fffd33 ! important; } /* Rhode-Island   */
.variantDivided_States .country6 { color: #87a5d7 ! important; } /* Connecticut  */
.variantDivided_States .country7 { color: #c49612 ! important; } /* New-York  */
.variantDivided_States .country8 { color: #eef782 ! important; } /* New-Jersey */
.variantDivided_States .country9 { color: #292568 ! important; } /* Pennsylvania */
.variantDivided_States .country10 { color: #ee4ab5 ! important; } /* Delaware  */
.variantDivided_States .country11 { color: #73710e ! important; } /* Maryland */
.variantDivided_States .country12 { color: #b7b7b7 ! important; } /* Virginia   */
.variantDivided_States .country13 { color: #00b6b8 ! important; } /* North-Carolina  */
.variantDivided_States .country14 { color: #a20932 ! important; } /* South-Carolina  */
.variantDivided_States .country15 { color: #ffb956 ! important; } /* Georgia */
.variantDivided_States .country16 { color: #c5fb43 ! important; } /* Florida */
.variantDivided_States .country17 { color: #6f0d03 ! important; } /* Alabama  */
.variantDivided_States .country18 { color: #780e88 ! important; } /* Mississippi */
.variantDivided_States .country19 { color: #9f7d4e ! important; } /* Tennessee   */
.variantDivided_States .country20 { color: #ff91d6 ! important; } /* Kentucky  */
.variantDivided_States .country21 { color: #686868 ! important; } /* West-Virginia  */
.variantDivided_States .country22 { color: #ff9c00 ! important; } /* Ohio */
.variantDivided_States .country23 { color: #00fa2c ! important; } /* Michigan */
.variantDivided_States .country24 { color: #d40000 ! important; } /* Indiana  */
.variantDivided_States .country25 { color: #fefefe ! important; } /* Illinois */
.variantDivided_States .country26 { color: #f4e81a ! important; } /* Wisconsin   */
.variantDivided_States .country27 { color: #703f91 ! important; } /* Minnesota  */
.variantDivided_States .country28 { color: #768b1a ! important; } /* Iowa  */
.variantDivided_States .country29 { color: #b09a91 ! important; } /* Missouri */
.variantDivided_States .country30 { color: #cffafa ! important; } /* Arkansas */
.variantDivided_States .country31 { color: #396c47 ! important; } /* Louisiana  */
.variantDivided_States .country32 { color: #5a60ad ! important; } /* Texas */
.variantDivided_States .country33 { color: #eb53e9 ! important; } /* Oklahoma   */
.variantDivided_States .country34 { color: #d7954f ! important; } /* Kansas  */
.variantDivided_States .country35 { color: #9f550f ! important; } /* Nebraska  */
.variantDivided_States .country36 { color: #007a7c ! important; } /* South-Dakota */
.variantDivided_States .country37 { color: #ebc43a ! important; } /* North-Dakota */
.variantDivided_States .country38 { color: #e66974 ! important; } /* Montana  */
.variantDivided_States .country39 { color: #3de66a ! important; } /* Wyoming */
.variantDivided_States .country40 { color: #e0c6dd ! important; } /* Colorado   */
.variantDivided_States .country41 { color: #ffc900 ! important; } /* New-Mexico  */
.variantDivided_States .country42 { color: #ccae58 ! important; } /* Arizona  */
.variantDivided_States .country43 { color: #8eb0ad ! important; } /* Utah */
.variantDivided_States .country44 { color: #fff1be ! important; } /* Nevada */
.variantDivided_States .country45 { color: #bab76c ! important; } /* Idaho  */
.variantDivided_States .country46 { color: #00b56b ! important; } /* Washington */
.variantDivided_States .country47 { color: #0a23c0 ! important; } /* Oregon   */
.variantDivided_States .country48 { color: #6d1367 ! important; } /* California  */
.variantDivided_States .country49 { color: #fe9b9d ! important; } /* Alaska  */
.variantDivided_States .country50 { color: #4797fb ! important; } /* Hawaii */
.variantDivided_States .country51 { color: #CE7800 ! important; } /* Neutrals */

.variantDivided_States .occupationBar1 { background-color: #00c81c ! important; } /* Maine */
.variantDivided_States .occupationBar2 { background-color: #d73911 ! important; } /* New Hampshire */
.variantDivided_States .occupationBar3 { background-color: #00650b ! important; } /* Vermont  */
.variantDivided_States .occupationBar4 { background-color: #805b7c ! important; } /* Massachusetts */
.variantDivided_States .occupationBar5 { background-color: #fffd33 ! important; } /* Rhode-Island   */
.variantDivided_States .occupationBar6 { background-color: #87a5d7 ! important; } /* Connecticut  */
.variantDivided_States .occupationBar7 { background-color: #c49612 ! important; } /* New-York  */
.variantDivided_States .occupationBar8 { background-color: #eef782 ! important; } /* New-Jersey */
.variantDivided_States .occupationBar9 { background-color: #292568 ! important; } /* Pennsylvania */
.variantDivided_States .occupationBar10 { background-color: #ee4ab5 ! important; } /* Delaware  */
.variantDivided_States .occupationBar11 { background-color: #73710e ! important; } /* Maryland */
.variantDivided_States .occupationBar12 { background-color: #b7b7b7 ! important; } /* Virginia   */
.variantDivided_States .occupationBar13 { background-color: #00b6b8 ! important; } /* North-Carolina  */
.variantDivided_States .occupationBar14 { background-color: #a20932 ! important; } /* South-Carolina  */
.variantDivided_States .occupationBar15 { background-color: #ffb956 ! important; } /* Georgia */
.variantDivided_States .occupationBar16 { background-color: #c5fb43 ! important; } /* Florida */
.variantDivided_States .occupationBar17 { background-color: #6f0d03 ! important; } /* Alabama  */
.variantDivided_States .occupationBar18 { background-color: #780e88 ! important; } /* Mississippi */
.variantDivided_States .occupationBar19 { background-color: #9f7d4e ! important; } /* Tennessee   */
.variantDivided_States .occupationBar20 { background-color: #ff91d6 ! important; } /* Kentucky  */
.variantDivided_States .occupationBar21 { background-color: #686868 ! important; } /* West-Virginia  */
.variantDivided_States .occupationBar22 { background-color: #ff9c00 ! important; } /* Ohio */
.variantDivided_States .occupationBar23 { background-color: #00fa2c ! important; } /* Michigan */
.variantDivided_States .occupationBar24 { background-color: #d40000 ! important; } /* Indiana  */
.variantDivided_States .occupationBar25 { background-color: #010101 ! important; } /* Illinois */
.variantDivided_States .occupationBar26 { background-color: #f4e81a ! important; } /* Wisconsin   */
.variantDivided_States .occupationBar27 { background-color: #703f91 ! important; } /* Minnesota  */
.variantDivided_States .occupationBar28 { background-color: #768b1a ! important; } /* Iowa  */
.variantDivided_States .occupationBar29 { background-color: #b09a91 ! important; } /* Missouri */
.variantDivided_States .occupationBar30 { background-color: #cffafa ! important; } /* Arkansas */
.variantDivided_States .occupationBar31 { background-color: #396c47 ! important; } /* Louisiana  */
.variantDivided_States .occupationBar32 { background-color: #5a60ad ! important; } /* Texas */
.variantDivided_States .occupationBar33 { background-color: #eb53e9 ! important; } /* Oklahoma   */
.variantDivided_States .occupationBar34 { background-color: #d7954f ! important; } /* Kansas  */
.variantDivided_States .occupationBar35 { background-color: #9f550f ! important; } /* Nebraska  */
.variantDivided_States .occupationBar36 { background-color: #007a7c ! important; } /* South-Dakota */
.variantDivided_States .occupationBar37 { background-color: #ebc43a ! important; } /* North-Dakota */
.variantDivided_States .occupationBar38 { background-color: #e66974 ! important; } /* Montana  */
.variantDivided_States .occupationBar39 { background-color: #3de66a ! important; } /* Wyoming */
.variantDivided_States .occupationBar40 { background-color: #e0c6dd ! important; } /* background-colorado   */
.variantDivided_States .occupationBar41 { background-color: #ffc900 ! important; } /* New-Mexico  */
.variantDivided_States .occupationBar42 { background-color: #ccae58 ! important; } /* Arizona  */
.variantDivided_States .occupationBar43 { background-color: #8eb0ad ! important; } /* Utah */
.variantDivided_States .occupationBar44 { background-color: #fff1be ! important; } /* Nevada */
.variantDivided_States .occupationBar45 { background-color: #bab76c ! important; } /* Idaho  */
.variantDivided_States .occupationBar46 { background-color: #00b56b ! important; } /* Washington */
.variantDivided_States .occupationBar47 { background-color: #0a23c0 ! important; } /* Oregon   */
.variantDivided_States .occupationBar48 { background-color: #6d1367 ! important; } /* California  */
.variantDivided_States .occupationBar49 { background-color: #fe9b9d ! important; } /* Alaska  */
.variantDivided_States .occupationBar50 { background-color: #4797fb ! important; } /* Hawaii */
.variantDivided_States .occupationBar51 { background-color: #00c81c ! important; } /* Neutrals */